header {
    position: sticky;
    z-index: 9;
    top: 0;
    background-color: #fff;
}

#Your-card {
    .table {

        thead {
            background-color: #F6F7FB;

            tr {

                .title {
                    padding: 18px 15px !important;
                }

                th {

                    font-size: 20px;
                    padding: 18px 15px;
                    font-weight: 500;
                }
            }
        }

        tbody {
            align-items: center;

            i {
                cursor: pointer;
            }

            td {
                padding-top: 30px;
            }

            .photo {
                padding: 0 !important;

                img {
                    border-radius: 10px;
                    height: 80px;
                    width: 80px;
                    object-fit: cover;

                }
            }

            .quantity-input {
                width: 43px;
                text-align: center;
                border: 1px solid black;
                height: 39px;
                border-radius: 50%;
                min-width: 35px;
                border: none;
                background-color: rgba(243, 243, 243, 0.738);
                font-size: 20px;
                font-weight: 500;
            }
        }
    }

    .quant {
        i {
            padding: 15px;
            text-align: center;
            border: none;
            background-color: #F6F7FB;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .cupon {
        input {
            width: 100%;
            padding: 0;
            border-bottom: 2px solid #efefef !important;
            border: none;
            outline: none;
            border-radius: 0;
        }
    }

    .btn-apply {

        border-radius: 6px;
        border: 1px solid transparent;
        color: black;
        font-weight: 700;
        padding: 16px 40px;
        display: inline-block;
        transition: .5s;

        &:hover {
            transform: scale(1.1);
            background-color: #3577F0;
            color: white;
        }

    }

    .btn-update {

        border-radius: 6px;
        border: 1px solid transparent;
        color: black;
        font-weight: 700;
        padding: 16px 40px;
        display: inline-block;
        transition: .5s;

        &:hover {
            transform: scale(1.1);
            background-color: #3577F0;
            color: white;
        }

    }

    .btn-check1 {
        width: 100%;
        border-radius: 6px;
        border: 1px solid transparent;
        color: black;
        font-weight: 700;
        padding: 16px 40px;
        display: inline-block;
        color: white;
        transition: .5s;
        background-color: #3577F0;

        &:hover {
            transform: scale(1.1);

        }

    }

    .order {
        background-color: #F9F3F0;
        padding: 20px;
        border-radius: 8px;
    }
}

@media (max-width:576px) {
    table {
        thead {
            .title{
                display: none;
            }
            
            th {
                font-size: 13px;
                margin: 0px !important;
                padding: 0 !important;
            }
        }
    }
.update-center{
    flex-direction: column;
    .update-card{
        text-align: start !important;
        margin-top: 25px;
    }
    
}
}