header{
.head-sign{

    justify-content: flex-end;
    display: flex;
    align-items: center;

    p{
        font-size: 13px;
        margin-bottom: 0;
    color: #292930;
    font-weight: 500;
    }



    .sign-btn{
        border: none;
        padding: 15px 35px;
        margin-left: 40px;
        border-radius: 5px;
        background-color: #FF497C;
        color: white;
        transition: .5s;
        &:hover{
            transform: scale(1.1);
        }
    }
}

}